.contact_new {
    background-image: url(../img/section_background_pattern_odd.png);
    padding-top: 40px;
}

.contact_new h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
}

.address {
    width: 950px;
    height: 100vh;
    margin-top: 50px;
    background-color: rgb(189 180 180);
    margin: auto;
}

.city {
    width: 300px;
    height: 200px;
    margin: auto;
    margin: 25px 0 0 15px;
    background-color: rgb(245, 239, 239);
    float: left;
    text-align: center;
}

.city h3 {
    color: red;
}

.city address {
    margin-top: 20px;
}

.address h1 {
    text-align: center;
}

.form {
    margin: auto;
    margin-top: 100px;
    height: 400px;
}

.form input {
    margin: 20px 0 0 400px;
    height: 30px;
    width: 300px;
}

.input_form {
    float: left;
}

.form textarea {
    margin: 20px 0 0 20px;
}

.form_btn {
    width: 100px;
    height: 50px;
    font-size: 18px;
    position: relative;
    top: 51px;
    left: -300px;
}